<html>
<head>
    <title>Absolution</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
    <style>
        body{
            padding-top: 50px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Rock Collection</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="http://0.0.0.0:5000/#">Home</a></li>
            <li><a href="http://0.0.0.0:5000/sub-genre">Sub-Genre</a></li>
            <li><a href="http://0.0.0.0:5000/artists">Artists</a></li>
        </ul>
        </div>
    </div>
    </nav>

    <div class="conatiner">
    <h1>Absolution</h1>
    <h2>Track List</h2>
    <p>Intro                    0:23</p>
    <p>Apocalypse Please        4:13</p>
    <p>Time is Running Out      3:56</p>
    <p>Sing for Absolution      4:55</p>
    <p>Stockholm Syndrome       4:59</p>
    <p>Falling Away With You    4:41</p>
    <p>Interlude                0:38</p>
    <p>Hysteria                 3:47</p>
    <p>Blackout                 4:22</p>
    <p>Butterflies and Hurricanes       5:02</p>
    <p>The Small Print          3:29</p>
    <p>Endlessly                3:49</p>
    <p>Throughts of a Dying Athiest     3:11</p>
    <p>Ruled By Secrecy         4:54</p>
    <p>Fury                     5:00</p>    
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>
</body>
</html>
