<html>
<head>
    <title>AM</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
    <style>
        body{
            padding-top: 50px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Rock Collection</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="http://0.0.0.0:5000/#">Home</a></li>
            <li><a href="http://0.0.0.0:5000/sub-genre">Sub-Genre</a></li>
            <li><a href="http://0.0.0.0:5000/artists">Artists</a></li>
        </ul>
        </div>
    </div>
    </nav>

    <div class="conatiner">
    <h1>AM</h1>
    <h2>Track List</h2>
    <p>Do I Wanna Know?         4:32</p>
    <p>R U Mine?                3:21</p>
    <p>One for the Road         3:26</p>
    <p>Arabella                 3:27</p>
    <p>I Want It All            3:04</p>
    <p>No.1 Party Anthem        4:03</p>
    <p>Mad Sounds               3:35</p>
    <p>Fireside                 3:01</p>
    <p>Why'd You Only Call Me When You're High? 2:41</p>
    <p>Snap Out of It           3:12</p>
    <p>Knee Sock                4:17</p>
    <p>I Wanna Be Yours         3:04</p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>
</body>
</html>
