<html>
<head>
    <title>Black Holes and Revelations</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
    <style>
        body{
            padding-top: 50px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Rock Collection</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="http://0.0.0.0:5000/#">Home</a></li>
            <li><a href="http://0.0.0.0:5000/sub-genre">Sub-Genre</a></li>
            <li><a href="http://0.0.0.0:5000/artists">Artists</a></li>
        </ul>
        </div>
    </div>
    </nav>

    <div class="conatiner">
    <h1>Black Holes and Revelations</h1>
    <h2>Track List</h2>
    <p>Take a Bow               4:35</p>
    <p>Starlight                4:00</p>
    <p>Supermassive Black Hole  3:29</p>
    <p>Map of the Problematique 4:19</p>
    <p>Soldier's Poem           2:04</p>
    <p>Invincible               5:00</p>
    <p>Assassin                 3:31</p>
    <p>Exo-Politics             3:53</p>
    <p>City of Delusion         4:49</p>
    <p>Hoodoo                   3:49</p>
    <p>Knights of Cydonia       6:07</p>
    <p>Glorious                 4:41</p>    
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>
</body>
</html>
