<html>
<head>
    <title>Bleach</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
    <style>
        body{
            padding-top: 50px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Rock Collection</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="http://0.0.0.0:5000/#">Home</a></li>
            <li><a href="http://0.0.0.0:5000/sub-genre">Sub-Genre</a></li>
            <li><a href="http://0.0.0.0:5000/artists">Artists</a></li>
        </ul>
        </div>
    </div>
    </nav>

    <div class="conatiner">
    <h1>Bleach</h1>
    <h2>Track List</h2>
    <p>Blew                     2:55</p>
    <p>Floyd the Barber         2:18</p>
    <p>About a Girl             2:48</p>
    <p>School                   2:42</p>
    <p>Love Buzz                3:35</p>
    <p>Paper Cuts               4:06</p>
    <p>Negative Creep           2:56</p>
    <p>Scoff                    4:10</p>
    <p>Swap Meet                3:03</p>
    <p>Mr. Moustace             3:24</p>
    <p>Sifting                  5:22</p>
    <p>Big Cheese               3:42</p>
    <p>Downer                   1:44</p>    
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>
</body>
</html>
