<html>
<head>
    <title>Definitely Maybe</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
    <style>
        body{
            padding-top: 50px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Rock Collection</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="http://0.0.0.0:5000/#">Home</a></li>
            <li><a href="http://0.0.0.0:5000/sub-genre">Sub-Genre</a></li>
            <li><a href="http://0.0.0.0:5000/artists">Artists</a></li>
        </ul>
        </div>
    </div>
    </nav>

    <div class="conatiner">
    <h1>Definitely Maybe</h1>
    <h2>Track List</h2>
    <p>Rock 'N' Roll Star       5:23</p>
    <p>Shakermaker              5:09</p>
    <p>Live Forever             4:37</p>
    <p>Up In The Sky            4:29</p>
    <p>Columbia                 6:17</p>
    <p>Supersonic               4:44</p>
    <p>Bring It On Down         4:18</p>
    <p>Cigarettes & Alcohol     4:49</p>
    <p>Digsy's Dinner           2:32</p>
    <p>Slide Away               6:33</p>
    <p>Married With Children    3:15</p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>
</body>
</html>
