<html>
<head>
    <title>Foo Fighters</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
    <style>
        body{
            padding-top: 50px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Rock Collection</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="http://0.0.0.0:5000/#">Home</a></li>
            <li><a href="http://0.0.0.0:5000/sub-genre">Sub-Genre</a></li>
            <li><a href="http://0.0.0.0:5000/artists">Artists</a></li>
        </ul>
        </div>
    </div>
    </nav>

    <div class="conatiner">
    <h1>Foo Fighters</h1>
    <h2>Albums</h2>
    <p>This is a Call           3:54</p>
    <p>I'll Stick Around        3:54</p>
    <p>Big Me                   2:13</p>
    <p>Alone + Easy Target      4:05</p>
    <p>Good Grief               4:01</p>
    <p>Floaty                   4:30</p>
    <p>Weenie Beenie            2:46</p>
    <p>Oh, George               3:01</p>
    <p>For All the Cows         3:30</p>
    <p>X-Static                 4:13</p>
    <p>Wattershed               2:16</p>
    <p>Exhausted                5:45</p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>
</body>
</html>
