<html>
<head>
    <title>Humbug</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
    <style>
        body{
            padding-top: 50px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Rock Collection</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="http://0.0.0.0:5000/#">Home</a></li>
            <li><a href="http://0.0.0.0:5000/sub-genre">Sub-Genre</a></li>
            <li><a href="http://0.0.0.0:5000/artists">Artists</a></li>
        </ul>
        </div>
    </div>
    </nav>

    <div class="conatiner">
    <h1>Humbug</h1>
    <h2>Track List</h2>
    <p>My Propeller             3:28</p>
    <p>Crying Lightning         3:43</p>
    <p>Dangerous Animals        3:31</p>
    <p>Secret Door              3:43</p>
    <p>Potion Approaching       3:32</p>
    <p>Fire and the Thud        3:58</p>
    <p>Conerstone               3:18</p>
    <p>Dance Little Liar        4:43</p>
    <p>Pretty Visitors          3:41</p>
    <p>The Jeweller's Hand      5:42</p>
    <p>I Haven't Got my Strange 1:29</p>
    <p>Red Right Hand           4:19</p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>
</body>
</html>
