<html>
<head>
    <title>In Utero</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
    <style>
        body{
            padding-top: 50px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Rock Collection</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="http://0.0.0.0:5000/#">Home</a></li>
            <li><a href="http://0.0.0.0:5000/sub-genre">Sub-Genre</a></li>
            <li><a href="http://0.0.0.0:5000/artists">Artists</a></li>
        </ul>
        </div>
    </div>
    </nav>

    <div class="conatiner">
    <h1>In Utero</h1>
    <h2>Track List</h2>
    <p>Serve the Servants       3:36</p>
    <p>Scentless Apprentice     3:48</p>
    <p>Heart-Shaped Box         4:41</p>
    <p>Rape Me                  2:50</p>
    <p>Frances Farmer Will Have Her Revenge on Seattle  4:10</p>
    <p>Dumb                     2:32</p>
    <p>Very Ape                 1:56</p>
    <p>Milk It                  3:55</p>
    <p>Pennyroyal Teas          3:37</p>
    <p>Radio Friendly Unit Shifter      4:51</p>
    <p>tourette's               1:35</p>
    <p>All Apologies            3:50</p>    
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>
</body>
</html>
