<html>
<head>
    <title>In Your Honor</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
    <style>
        body{
            padding-top: 50px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Rock Collection</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="http://0.0.0.0:5000/#">Home</a></li>
            <li><a href="http://0.0.0.0:5000/sub-genre">Sub-Genre</a></li>
            <li><a href="http://0.0.0.0:5000/artists">Artists</a></li>
        </ul>
        </div>
    </div>
    </nav>

    <div class="conatiner">
    <h1>In Your Honor</h1>
    <h2>Albums</h2>
    <p>In Your Honor            3:50</p>
    <p>No Way Back              3:16</p>
    <p>Best Of You              4:12</p>
    <p>DOA                      4:12</p>
    <p>Hell                     1:57</p>
    <p>The Last Song            3:19</p>
    <p>Free Me                  4:38</p>
    <p>Resolve                  4:48</p>
    <p>The Deepest Blues Are Black      3:58</p>
    <p>End Over End             5:51</p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>
</body>
</html>
