<html>
<head>
    <title>Rage Against The Machine</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
    <style>
        body{
            padding-top: 50px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Rock Collection</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="http://0.0.0.0:5000/#">Home</a></li>
            <li><a href="http://0.0.0.0:5000/sub-genre">Sub-Genre</a></li>
            <li><a href="http://0.0.0.0:5000/artists">Artists</a></li>
        </ul>
        </div>
    </div>
    </nav>

    <div class="conatiner">
    <h1>Rage Against The Machine (self-titled)</h1>
    <h2>Track List</h2>
    <p>Bombtrack                4:04</p>
    <p>Killing in the Name      5:14</p>
    <p>Take the Power Back      5:36</p>
    <p>Settle for Nothing       4:47</p>
    <p>Bullet in the Head       5:07</p>
    <p>Know Your Enemy          4:55</p>
    <p>Wake Up                  6:04</p>
    <p>Fistful of Steel         5:31</p>
    <p>Township Rebellion       5:25</p>
    <p>Freedom                  6:06</p> 
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>
</body>
</html>
