<html>
<head>
    <title>The Bends</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
    <style>
        body{
            padding-top: 50px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Rock Collection</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="http://0.0.0.0:5000/#">Home</a></li>
            <li><a href="http://0.0.0.0:5000/sub-genre">Sub-Genre</a></li>
            <li><a href="http://0.0.0.0:5000/artists">Artists</a></li>
        </ul>
        </div>
    </div>
    </nav>

    <div class="conatiner">
    <h1>The Bends</h1>
    <h2>Track List</h2>
    <p>Planet Telex             4:19</p>
    <p>The Bends                4:06</p>
    <p>High and Dry             4:18</p>
    <p>Fake Plastic Trees       4:51</p>
    <p>Bones                    3:09</p>
    <p>(Nice Dream)             3:53</p>
    <p>Just                     3:54</p>
    <p>Mr Iron Lung             4:36</p>
    <p>Bullet Proof.. I Wish I Was      3:29</p>
    <p>Black Star               4:07</p>
    <p>Sulk                     3:43</p>
    <p>Street Spirit (Fade Out) 4:13</p>
    <p>How Can You Be Sure?     4:22</p>
    <p>Killer Cars              3:04</p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>
</body>
</html>
