<html>
<head>
    <title>Vol. 4</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
    <style>
        body{
            padding-top: 50px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Rock Collection</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="http://0.0.0.0:5000/#">Home</a></li>
            <li><a href="http://0.0.0.0:5000/sub-genre">Sub-Genre</a></li>
            <li><a href="http://0.0.0.0:5000/artists">Artists</a></li>
        </ul>
        </div>
    </div>
    </nav>

    <div class="conatiner">
    <h1>Blakc Sabbath Vol. 4</h1>
    <h2>Track List</h2>
    <p>Wheel of Confusion       8:02</p>
    <p>Tomorrow's Dream         3:09</p>
    <p>Changes                  4:44</p>
    <p>FX                       1:43</p>
    <p>Supernaut                4:40</p>
    <p>Snowblind                5:29</p>
    <p>Cornucopia               3:55</p>
    <p>Laguana Sunrise          2:53</p>
    <p>St Vitus Dance           2:30</p>
    <p>Under the Sun            5:51</p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>
</body>
</html>
