<html>
<head>
    <title>(What's the Story) Morning Glory?</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
    <style>
        body{
            padding-top: 50px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Rock Collection</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a href="http://0.0.0.0:5000/#">Home</a></li>
            <li><a href="http://0.0.0.0:5000/sub-genre">Sub-Genre</a></li>
            <li><a href="http://0.0.0.0:5000/artists">Artists</a></li>
        </ul>
        </div>
    </div>
    </nav>

    <div class="conatiner">
    <h1>(What's the Story) Morning Glory?</h1>
    <h2>Track List</h2>
    <p>Hello                    3:22</p>
    <p>Roll With It             4:00</p>
    <p>Wonderwall               4:19</p>
    <p>Don't Look Back in Anger 4:48</p>
    <p>Hey Now!                 5:42</p>
    <p>Bonehead's Bank Holiday  3:49</p>
    <p>Some Might Say           5:28</p>
    <p>Cast No Shadow           4:52</p>
    <p>She's Electric           3:40</p>
    <p>Morning Glory            5:03</p>
    <p>Champagne Supernova      7:28</p>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src={{ url_for('static', filename='js/bootstrap.min.js') }}></script>
</body>
</html>
